# Maintainer: Burak Ozdemir
pkgname=timer-cli
pkgver=@VERSION@
pkgrel=1
pkgdesc='Countdown timer for the terminal with live progress'
arch=('x86_64' 'aarch64')
url='https://onlinealarmkur.com/timer/en/'
license=('MIT AND BSD-3-Clause')
makedepends=('go>=1.26')
source=("${pkgname}-${pkgver}.tar.gz::https://github.com/onlinealarmkur/timer-cli/releases/download/v${pkgver}/timer-cli_${pkgver}_source.tar.gz")
sha256sums=('@SOURCE_SHA256@')

build() {
  cd "${pkgname}-${pkgver}"
  export CGO_ENABLED=0
  export GOCACHE="${srcdir}/go-cache"
  go build -mod=vendor -trimpath -buildvcs=false \
    -ldflags="-s -w -buildid= -X github.com/onlinealarmkur/timer-cli/internal/version.Version=${pkgver}" \
    -o timer-cli ./cmd/timer-cli
}

package() {
  cd "${pkgname}-${pkgver}"
  install -Dm755 timer-cli "${pkgdir}/usr/bin/timer-cli"
  install -Dm644 LICENSE "${pkgdir}/usr/share/licenses/${pkgname}/LICENSE"
  install -Dm644 THIRD_PARTY_LICENSES "${pkgdir}/usr/share/licenses/${pkgname}/THIRD_PARTY_LICENSES"

  install -d "${pkgdir}/usr/share/bash-completion/completions"
  ./timer-cli completion bash >"${pkgdir}/usr/share/bash-completion/completions/timer-cli"
  install -d "${pkgdir}/usr/share/zsh/site-functions"
  ./timer-cli completion zsh >"${pkgdir}/usr/share/zsh/site-functions/_timer-cli"
  install -d "${pkgdir}/usr/share/fish/vendor_completions.d"
  ./timer-cli completion fish >"${pkgdir}/usr/share/fish/vendor_completions.d/timer-cli.fish"
}
