pkgbase = timer-cli
	pkgdesc = Countdown timer for the terminal with live progress
	pkgver = @VERSION@
	pkgrel = 1
	url = https://onlinealarmkur.com/timer/en/
	arch = x86_64
	arch = aarch64
	license = MIT AND BSD-3-Clause
	makedepends = go>=1.26
	source = timer-cli-@VERSION@.tar.gz::https://github.com/onlinealarmkur/timer-cli/releases/download/v@VERSION@/timer-cli_@VERSION@_source.tar.gz
	sha256sums = @SOURCE_SHA256@

pkgname = timer-cli
